* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh-72px);
  justify-content: end;
}